<html>
<ng-app="Boilerplate">
    
    <body ng-init="client=null">
        <div primary ng-show="!targetTime">
            <div layout="row" layout-fill>
                <div flex="15" flex-offset="5">
                    <br><br><br><br><br><br>
                    <center>
                        <h2>
                            {{timezone}}<br>
                            {{newRecord}}<br>
                            <span ng-show="totalVisitors">
                                Total visitors: {{totalVisitors}}
                            </span>
                            <span ng-show="! totalVisitors">
                                Initializing...
                            </span>
                        </h2>

                    </center>
                </div>
                <div flex="50" flex-offset="5">
                    <center>
                        <h2><i ng-show="!displayMcCree" >It's High Noon, McCree.</i></h2>
                        <i><h1 ng-show="!displayMcCree" >{{timeTilNoon}}</h1></i>
                        <h2 ng-show="!displayMcCree">{{globalCowboys}}</h2>
                        <h3 ng-show="!displayMcCree">{{zoneUsersMessage}}</h3>
                        <img ng-show="displayMcCree" data-ng-src="data:image/png;base64,{{mcCree}}">
                        <span ng-show="!displayMcCree">
                            <br><br><br><br><br><h2 style="display:inline;">Developed by</h2><br>
                            <a ng-href="https://google.ca">
                                <img src="Assets/fireAntThree.png" style="height:50%; width:50%;">
                            </a>
                        </span>

                    </center>
                </div>
               
                
                <div flex="20">
                    <div ng-show="user">
                        <center>
                        <br><br><br><br><br><br>
                            <h2>Hello, {{user.Username}}.</h2>
                                <md-button ng-click="openChat()" class="md-raised md-default">Open Chat</md-button>

                                <md-button aria-label="Logout" class="md-raised" ng-click="test()">        
                                  Settings
                                </md-button>

                                <md-button aria-label="Logout" class="md-raised" ng-click="logout()">     
                                  Stats
                                </md-button>

                                <md-button aria-label="Logout" class="md-raised" ng-click="logout()">     
                                  Logout
                                </md-button>
                        </center>
                    </div>
                    <div ng-show="! user">
                    <br><br><br><br><br><br>
                    <center><h3>Login or Register to chat with other users!</h3></center>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Login">
                                <md-content class="md-padding">
                                    <form>
                                        <md-input-container style="width:100%; margin:auto;" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                                             <input ng-maxlength="15" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" placeholder="Username" ng-model="client.username">
                                        </md-input-container>
                                        <md-input-container style="width:100%; margin:auto;" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                                            <input type="password" ng-maxlength="20" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" placeholder="Password" ng-model="client.password">
                                            <br>
                                            <center>
                                                <md-button ng-disabled="!client.username || !client.password" input type="submit" ng-click="login(client)" class="md-raised md-primary">Login</md-button>
                                            </center>
                                        </md-input-container>
                                    </form>
                                </md-content>
                            </md-tab>
                                <md-tab label="Register">
                                <md-content class="md-padding">
                                    <form>
                                        <md-input-container style="width:100%; margin:auto;" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                                             <input ng-maxlength="15" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" placeholder="Username" ng-model="newUser.username">
                                        </md-input-container>
                                        <md-input-container style="width:100%; margin:auto;" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                                            <input type="password" ng-maxlength="20" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" placeholder="Password" ng-model="newUser.password">
                                        </md-input-container>
                                        <md-input-container style="width:100%; margin:auto;" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                                            <input type="password" ng-maxlength="20" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Confirm Password'" placeholder="Confirm Password" ng-model="newUser.confirmPassword">
                                            <br>
                                            <center>
                                                <md-button ng-disabled="!newUser.username || !newUser.password || !newUser.confirmPassword || newUser.password != newUser.confirmPassword" input type="submit" ng-click="login(newUser)" class="md-raised md-primary">Register</md-button>
                                            </center>
                                        </md-input-container>
                                    </form>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                    
                    </div>
                </div>
            </div>


            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="width: 80%;">
              <md-content layout-padding>
                  <center><h3>Chat</h3></center>
                  
                  <div ng-show="chatName && !chatPrompt">
                  
                  <div id="chat" style="height: 50vh; overflow: auto;">
                      <div style="position: relative; top: 7%;"ng-show="messages.length==0"><center><p>No messages.</p></center></div>
                      <md-list>
                          <md-list-item class="md-3-line" ng-repeat="message in messages track by $index">
                            <div class="md-list-item-text">
                              <h3>{{message.requestor}}<br>{{message.message}}</h3>
                              <p>
                              At {{message.timestamp | date:'hh:mm a'}}
                              </p>
                            </div>
                            <md-divider inset></md-divider>
                          </md-list-item>
                        </md-list>
                      
                  </div>

                    <form autocomplete="off" ng-submit="sendMessage()">
                        <md-input-container form ng-submit="sendMessage()" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                             <input ng-maxlength="50" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Message'" placeholder="Message" ng-model="messageToSend">
                             <br>
                             <center>
                             <md-button ng-disabled="!messageToSend && !chatPrompt" ng-click="sendMessage()" class="md-raised md-primary">Send</md-button>
                             </center>
                        </md-input-container>
                    </form>
                 </div>
                 <div ng-show="chatPrompt">
                     <center><h3>{{chatPrompt}}</h3></center>
                 </div>
                 <div ng-show="! chatName">
                    <center><h3>Create a Username to get started!</h3></center>
                    <form autocomplete="off" ng-submit="requestChatName()">
                        <md-input-container style="width:50%; margin:auto;" form ng-submit="requestChatName()" md-no-float style="font-size: 1em;" class="md-block" flex-gt-sm>
                             <input ng-maxlength="12" style="text-align: center;" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" placeholder="Username" ng-model="potentialChatName">
                             <br>
                             <center>
                             <md-button ng-disabled="!potentialChatName" ng-click="requestChatName()" class="md-raised md-primary">Request Name</md-button>
                             </center>
                         </md-input-container>
                     </form>
                 </div>

                <md-button ng-click="closeChat()" class="md-primary">
                  Close Chat
                </md-button>
              </md-content>
            </md-sidenav>
    </div>
    <div ng-show="targetTime && !result">
        <center>  <h2>Shoot the targets!<br> {{targetsHit}} of 5</h2></center>
        <img data-ng-src="data:image/jpg;base64,{{bullseye}}" height="30" width="30" style="top:{{vert}}%; left:{{hor}}%; position:absolute;" ng-click="targetHit()">
    </div>
        <div ng-show="result">
        <center>
            <h1>{{result}}</h1><br><br>
            <md-button ng-click="resetPage()" class="md-raised md-default">Continue</md-button>
        </center>
        
    </div>


</body>
</html>
